#container {
    display: flex;
    flex-direction: column;
}

body{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  padding-left: 20px;
}

.filter-menu{
  padding-left: 20px;
}


.js-bookmark-details{
    display: none;
}

li{
    list-style: none;
}

li p {
  margin-left: 10px;
}

#bookmarks-list p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#bookmarks-list .js-bookmark-element{
  margin-top: 10px;
  border: 1px solid lightgray;
  width: 500px;
}

ul{
  padding-left: 20px;
}

.star-buttons label {
  color: grey;
}

.add-bookmark-label{
  margin-right: 10px;
}

.js-add-title, .js-add-link{
  margin-right: 10px;
} 

label:hover {
  cursor: pointer; 
  color: black;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + span {
  color: black;
}

.error-message {
    color: red;
    margin-top: 15px;
}

#error-button {
    margin-left: 15px;
}

#js-plus-button{
  font-size: 25px;
  border: none;
  background: none;
  padding-left: 20px;
}

#js-plus-button:hover{
  transform: scale(1.1);
}

.add-bookmark {
  padding-left: 20px;
}

.star-buttons button{
  cursor: pointer;
}