#container {
    display: flex;
    flex-direction: column;
}

.js-bookmark-details{
    display: none;
}

li {
    list-style: none;
}
input[type="radio"] {
  visibility: hidden;
 
}
.star-buttons::before {
    content: "\2606";
}

input[type="radio"]:hover {
    transform: scale(1.5) perspective(1px);
} 

.error-message {
    color: red;
    margin-top: 10px;
}

#error-button {
    margin-left: 15px;
}